# Introduction to Python Programming#

BIL113E course designed as half-self-paced course. The course hours should mostly used for questions, assignments and brief introductions. For the Python section of this course we will be using **Anaconda** software. By installing Anaconda alone, you will have Python, IDE, Jupyter notebook, and more installed.

## Comments ##

We often use comments within our commands. Some explanations would be helpful as size if your code increases. You can use hashtag (#) for make an comment within your code.

In [1]:
# This is a comment
# These lines of code will not change any values
# Anything following the first # is not run as code

## Variables ##

You should be familiar with the variables. They are the basis of knowledge within our code. We have four common types of variables:

1. Integer
2. Float
3. String
4. Boolean: True or False

### Integers ###

In [6]:
my_integer = 50
print (my_integer)
print(type(my_integer))

50
<class 'int'>

IF you assign a value to a new variable (my_integer) Python automatically recognizes the type of the variable. By the way you learnt two more things:

1. We use $print()$ function to see/print variable value. Syntax of the function is simple: $print(var_name)$
2. We use $type()$ function to learn the type of a variable. Syntax is very simple: $type()$. In order to see the value of the type(my_integer) we printed it:$ print(type(my\_integer))$

### Floats ###

In [8]:
my_float = 1.0
print(my_float, type(my_float))

1.0 <class 'float'>

Using dot(.) in the definition made variable's type float. By the way, You can print several things using comma(,) like the example above.

### Strings ###

In [12]:
my_string = 'This is a string with single quotes'
print(my_string, type(my_string))
my_string2 = "This is a string with double quotes"
print(my_string2, type(my_string2))
my_string3 = '1'
print(my_string3, type(my_string3))

This is a string with single quotes <class 'str'>
This is a string with double quotes <class 'str'>
1 <class 'str'>

We have some points to remark:

1. You must use single or double quotes to define a string. It doesn,t matter which one you use. 
2. You should be careful about using definitive quotes within the string. *check codes below*
3. If you define a integer or float within quotes it will be defined as string, not integer or float.

In [15]:
my_string = 'It's a book'

SyntaxError: invalid syntax (<ipython-input-15-dbb28ec7469a>, line 1)

As you see above we had a syntax error because wanted to define a string that contains single string: It's a book. We can define it in several ways:

In [17]:
string1 = 'It\'s a book'
print(string1)
string2 = "It's a book"
print(string2)

It's a book
It's a book

You can ignore the quotes mark within string using \, or you can defone it inside a double quote instead.

### Booleans ###

In [20]:
my_bool = True
print(my_bool, type(my_bool))
my_bool = False
print(my_bool, type(my_bool))

True <class 'bool'>
False <class 'bool'>

We can define the variables as True or False as well. True and False notations are case sensitive.

In [21]:
my_bool = True
print(not my_bool)

False

If I add $not$ notation before the $my\_bool$ it becomes $False$ as seen above.

## Variable Transformations ##

You can transform the types of variables *if possible*. We use:
1. $int()$: To integer
2. $float()$: To Float
3. $str()$: To string

Some examples:

In [22]:
print(int(1.2))
print(int(1.0))
print(int(1.8))

1
1
1

In [28]:
print(int('12'))

12

You will have error if you try this:

In [24]:
print(int('sd'))

ValueError: invalid literal for int() with base 10: 'sd'

Because 'sd' string is inconvertible to integer.

In [25]:
print(float(1.2))
print(float(1))

1.2
1.0

In [30]:
print(str(2))
print(str(2 * 9))

2
18

## Basic Math ##

You can utilize built-in math functions as seen in cell above:

In [35]:
print('Addition: ', 2 + 2)
print('Subtraction: ', 7 - 4)
print('Multiplication: ', 2 * 5)
print('Division: ', 10 / 2)
print('Exponentiation: ', 7**2)
print('Modulo: ', 15 % 4) # it will return the remainder after dividing  15 by 4 .

Addition:  4
Subtraction:  3
Multiplication:  10
Division:  5.0
Exponentiation:  49
Modulo:  3

You can use math for variables either:

In [39]:
first_integer = 7
second_integer = 3
print(first_integer * second_integer)
print(first_integer ** second_integer)
print(first_integer / second_integer)
print(first_integer + second_integer)
print(first_integer - second_integer)

21
343
2.3333333333333335
10
4

Some built-in math functions:
1. abs()
2. round()
3. max()
4. min()
5. sum()

Some examples:

In [42]:
print(abs(-5*3))

15

In [43]:
print(round(first_integer / second_integer))

2

## Collections
### Lists

One of the most useful collection type in Python is the Lists. Example:

In [1]:
my_list = [1, 2, 3]
print(my_list)
print(my_list[0])
print(my_list[2])

[1, 2, 3]
1
3

The first item in the list is indexed as 0.

In [4]:
my_list.append('a string item')

In [5]:
print(my_list)

[1, 2, 3, 'a string item']

As you see we added a fourth item in the list with *append* function. You might have noticed that we add strings within the quote marks again. If you add numbers in quote marks they will be recognized as string not integer or float.

For all items or functions you can preview the possible functions. For example after typing my_list. click on Tab:

<div class = 'fig figcenter'>
<img src = '{{ site.baseurl }}/assets/function-preview.JPG'>
</div>

But note the we have already defined *my_list* variable as a *list* beforehand.

You can do add, remove, sort, reverse... the list. So for details you should find the documentations. Just google [python 3 list functions](https://www.google.com.tr/search?q=python+3+list+functions&oq=python+3+list+&aqs=chrome.1.69i57j0l5.4121j0j7&sourceid=chrome&ie=UTF-8). One advantage of Python is that you can easily find documents and find solutions to your problems on the internet.

Useful document for list operations. [Data Structures](https://docs.python.org/3/tutorial/datastructures.html)

You can do some other operations on the lists:

In [13]:
print(my_list * 2)
print(my_list + [4,2,7,'2'])

[1, 2, 3, 'a string item', 1, 2, 3, 'a string item']
[1, 2, 3, 'a string item', 4, 2, 7, '2']

In [28]:
my_list2 = my_list[:-1] + [4,2,7] + [2] * 5
print(my_list2)
my_list2.sort()
print(my_list2)
print('Total number of 2s in the list: ' , my_list2.count(2))

[1, 2, 3, 4, 2, 7, 2, 2, 2, 2, 2]
[1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 7]
Total number of 2s in the list:  7

We created a new list, my_list2, combination of three lists as you see. We excluded the last item of the *my_list* because it is not an integer and cannot be sorted. We also used the *count* function to find the number of 2s in the list.

In [36]:
print(my_list2[-5:-1]) # from the last 5th item to the last 1st item
print(my_list2[1:9]) # from the index 1 to the index 9 (be careful that index and the order are different)
print(my_list2[-5:]) # from the last 5th item to the end
print(my_list2[:2]) # from the beginning to the index 2. But index 2 is not included.

[2, 2, 3, 4]
[2, 2, 2, 2, 2, 2, 2, 3]
[2, 2, 3, 4, 7]
[1, 2]